body { background: #ebd349; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 56px; display: flex; }
.block-filter-0 { color: #300eae; font-size: 21px; margin-bottom: 5px; }
.block-token-1 { color: #2fcd62; font-size: 16px; margin-bottom: 5px; }
.block-shipping-2 { color: #592af0; font-size: 15px; margin-bottom: 5px; }
.block-validator-3 { color: #f75d4f; font-size: 16px; margin-bottom: 5px; }
.block-shipping-4 { color: #9e12fc; font-size: 15px; margin-bottom: 5px; }